<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
		<services>
			<service name="LiveScoreSystem.Service1" behaviorConfiguration="LiveScoreBehavior">
				<endpoint address="Service1"  name="basicHttpBinding" binding="basicHttpBinding" contract="LiveScoreSystem.IService1" >
					
				</endpoint>
				<!--<endpoint address="Service1" binding="netHttpBinding" contract="LiveScoreSystem.IService1" >

				</endpoint>-->
			</service>
		</services>
		
       <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49926/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceRef.IService1"
                name="BasicHttpBinding_IService1" />
        </client>


		<behaviors>
			<serviceBehaviors>
				<behavior name="LiveScoreBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
    </system.serviceModel>
</configuration>